DATABASE_URL=./db.sqlite3
JOY_ENV=development
PORT=9000
ADMIN_TOKEN=replace-me
SESSION_KEY=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
CSRF_KEY=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
LQ_BASE_URL=http://localhost:9001
LQ_TOKEN=replace-me
LQ_PROCESSING_QUEUE=image-processing
LQ_PROCESSED_QUEUE=image-processed